###############################################################################
# This files ignored by git
###############################################################################

# Downloaded sourcs
downloaded_sources

# build and output images directory
build